h1#welcome {
	font-size: 4em;
}

/*Fixing the Outfit graphics display for the mobile version of the closet graphic*/
#pd-closet-graphic {
	width:33%;
	position: absolute;
	top:23.5%;
	left:26%;
}
#gt-closet-graphic {
	width:14%;
	position: absolute;
	top:24%;
	left:38%;
}
#bt-closet-graphic {
	width:17%;
	position: absolute;
	top:24%;
	left:44%;
}
#ps-closet-graphic {
	width:21%;
	position: absolute;
	top:17%;
	left:48%;
}
#ds-closet-graphic {
	width:15%;
	position: absolute;
	top:21.5%;
	left:55%;
}

/*modifying the menu display for mobile*/
#home-nav {
	display:flex;
	flex-direction:row;
	align-items: center;
}
.menu {
	display:inline-block;
	font-size:1.75em;
	margin-left: 8%;
}

/*Making the sub page content layout flex instead of grid for mobile*/
.outfit-specs {
	display: flex;
	flex-direction: column;
	margin: 0 10%;
}
.subtitle {
	font-size:1.5em;
}
#pd-body-text .subtitle {
	padding: 0 2%;
	background-color:#FD0073;
	outline: 2px solid black;
	color: white;
}
#pd-body-text {
	color:#42202F;
	font-family: 'Calistoga', serif;
	font-size: 1.5em;
}
#gt-body-text .subtitle {
	padding: 0 2%;
	background-color:#025939;
	outline: 2px solid black;
	color: white;
}
#gt-body-text {
	color:#03945F;
	font-family: 'Calistoga', serif;
	font-size: 1.5em;
}
#ds-body-text .subtitle {
	padding: 0 2%;
	background-color:#6B6B6B;
	outline: 2px solid black;
	color: white;
}
#ds-body-text {
	color:#9F9E9A;
	font-family: 'Calistoga', serif;
	font-size: 1.5em;
}
